/* Format */

body {
    margin: 0;
    background: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    border: none;
    background-color: transparent;
}

/* Card Style */

.card {
    border: 10px double orange;
    width: 150px;
    background: white;
    padding: 30px;
    border-radius: 20px;
}

.card__image {
    width: 150px;
}

.card__content {
    text-align: center;
}

.card__button {
    border: 2px solid crimson;
    padding: 5px 20px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
    transition: 150ms;
}

.card__button:hover {
    background: orange;
    color: white;
    border: 2px solid orange;
}